= simple_form_for(@operative_record) do |f|
  = f.input :target_day, autofocus: true


  = f.input :registry_emergency_count
  = f.input :dead_count
  = f.input :perished_count
  = f.input :adm_emergency_count
  = f.input :all_violations_count
  = f.input :drunk_count
  = f.input :opposite_count
  = f.input :not_having_count
  = f.input :speed_count
  = f.input :failure_to_footer_count
  = f.input :belts_count
  = f.input :passengers_count
  = f.input :tinting_count
  = f.input :footer_count
  = f.input :arested_day_count
  = f.input :arested_all_count
  = f.input :parking_count
  = f.input :article_264_1_count
  = f.input :oop_count
  = f.input :solved_crime_count

  = f.button :submit
