= simple_form_for @operative_record, remote: true, html: { class: 'form-horizontal' } do |f|
  - @operative_record.errors.full_messages.each do |msg|
    %p= msg
  .row
    .col-sm-5

      %h2{'align': 'right'} Общие сведения

      .form-group
        = f.label :target_day, class: 'control-label col-sm-8'
        .col-sm-4
          - if params[:action] == "edit"
            = @operative_record.target_day.strftime("%d.%m.%Y") 
          - else
            - dis_dates = ''
            - @saved_operative_records.each do |r|
              - dis_dates = dis_dates + r.target_day.strftime('%d%m%Y') + '|' 
            = f.input_field :target_day, as: :string, class: 'form-control', dis_dates: "#{dis_dates}"
           
 
      .form-group
        = f.label :district_id, class: 'control-label col-sm-4 small'
        .col-sm-8
          - if current_user.district_id.between?(1, 20) 
            = @districts[current_user.district_id - 1].name
          - else
            = f.input :district_id,
                      collection: @districts,
                      label_method: :name, 
                      value_method: :id, 
                      label: false,
                      include_blank: false,
                      selected: current_user.district_id
 
      .form-group
        = f.label :personal_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :personal_count, as: :string, class: 'form-control input-sm'

      %br
      %br

      %h2{'align': 'right'} Информация о ДТП

      .form-group
        = f.label :registry_emergency_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :registry_emergency_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :dead_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :dead_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :perished_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :perished_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :adm_emergency_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :adm_emergency_count, as: :string, class: 'form-control input-sm'

      %br
      %br

      %h2{'align': 'right'} Уголовная практика

      .form-group
        = f.label :solved_crime_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :solved_crime_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :article_264_1_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :article_264_1_count, as: :string, class: 'form-control input-sm'

      %br
      %h5{'align': 'center'} Сведения об угонах и кражах транспортных средств

      %table.table.table-condensed.table-bordered
        %th
          %td{'valign': 'middle', 'align': 'center', 'class': 'small' } Совершено
          %td{'valign': 'middle', 'align': 'center', 'class': 'small' } Обнаружено
          %td{'valign': 'middle', 'align': 'center', 'class': 'small' } Обнаружено ГИБДД
        %tr
          %td.small Угоны
          %td= f.input_field :stealing_autos, as: :string, class: 'form-control input-sm'
          %td= f.input_field :stealing_sloved, as: :string, class: 'form-control input-sm'
          %td= f.input_field :stealing_sloved_gibdd, as: :string, class: 'form-control input-sm'
        %tr
          %td.small Кражи
          %td= f.input_field :theft_autos, as: :string, class: 'form-control input-sm'
          %td= f.input_field :theft_sloved, as: :string, class: 'form-control input-sm'
          %td= f.input_field :theft_sloved_gibdd, as: :string, class: 'form-control input-sm'

    .col-sm-6

      %h2{'align': 'right'} Административная практика

      .form-group
        = f.label :all_violations_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :all_violations_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :drunk_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :drunk_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :opposite_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :opposite_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :not_having_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :not_having_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :speed_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :speed_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :failure_to_footer_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :failure_to_footer_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :belts_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :belts_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :passengers_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :passengers_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :tinting_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :tinting_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :footer_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :footer_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :arested_day_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :arested_day_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :arested_all_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :arested_all_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :parking_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :parking_count, as: :string, class: 'form-control input-sm'

      .form-group
        = f.label :oop_count, class: 'control-label col-sm-9 small'
        .col-sm-3
          = f.input_field :oop_count, as: :string, class: 'form-control input-sm'
  %br 
  .row
    .col-sm-3
    .col-sm-3
      = f.button :submit
