%div{ id: 'target_day_selector' }

%ul.nav.nav-tabs.tabs
  %li
    %a{ href: '#emergencies'} ДТП
  %li
    %a{ href: '#administration_practic'} Админ. практика
  %li
    %a{ href: '#stelthing'} Угоны (кражи)
  %li
    %a{ href: '#personal'} Линый состав
  %li
    %a{ href: '#oper_data_advanced'} Дополнение к оперативным сведениям
%div{ id: 'operative_info'}
  %div{ id: 'refresh_buttons' }
    .btn-group
      %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false }
        %span.glyphicon.glyphicon-facetime-video
        Обновить данные ЦАФАП
        %span.caret
      %ul.dropdown-menu
        %li= link_to 'за сутки', cafap_operative_records_path(@target_day.strftime('%d%m%Y')), remote: true, method: 'POST'
        %li= link_to 'за месяц', cafap_operative_records_path(@target_day.strftime('%m%Y')), remote: true, method: 'POST'
        %li= link_to 'за год', cafap_operative_records_path(@target_day.strftime('%Y')), remote: true, method: 'POST'
    .btn-group
      %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false }
        %span.glyphicon.glyphicon-refresh
        Обновить данные о ДТП
        %span.caret
      %ul.dropdown-menu
        %li= link_to 'за сутки', emergency_data_operative_records_path(@target_day.strftime('%d%m%Y')), remote: true, method: 'POST'
        %li= link_to 'за месяц', emergency_data_operative_records_path(@target_day.strftime('%m%Y')), remote: true, method: 'POST'
        %li= link_to 'за год', emergency_data_operative_records_path(@target_day.strftime('%Y')), remote: true, method: 'POST'
    .btn-group
      = form_tag import_operative_records_path, remote: true, multipart: true, accept: 'text/html' do
        = file_field_tag :file
        = submit_tag "Импртировать админ. практику", class: 'btn btn-default'

  %div{ id: 'oper_data_advanced' }
    = render 'oper_data_advanced'
  %div{ id: 'emergencies' }
    = render 'emergencies'
  %div{ id: 'administration_practic' }
    %h2 Административная практика, раскрытие преступлений
  %div{ id: 'stelthing' }
    %h2 Сведения об угонах и кражах транспортных средств
  %div{ id: 'personal' }
    %h2 Выставление личного состава (Приказ МВД по Республике Коми от 18.07.2016 № 291)
