%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button{ type: 'button', class: 'navbar-toggle collapsed', 'data-toggle': 'collapse', 'data-target': '#bs-example-navbar-collapse-1', 'aria-expanded': 'false' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Главная страница', main_page_index_path, class: 'navbar-brand'
    %div{ class: 'collapse navbar-collapse', id: 'bs-example-navbar-collapse-1' }
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to(main_page_index_path, class: 'dropdown-toggle', 'data-toggle': 'dropdown', 
                                          role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false') do
            Оперативные сведения
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Оперативные по Республике Коми', all_operative_records_path(Date.yesterday.strftime('%d%m%Y'))
        %li.dropdown
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            = link_to(main_page_index_path, class: 'dropdown-toggle', 'data-toggle': 'dropdown', 
                                            role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false') do
              .glyphicon.glyphicon-user
              = "Вы вошли как #{current_user.username}"
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Выйти', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to new_user_session_path do
              %span.glyphicon.glyphicon-log-in
              Войти
