<!DOCTYPE html>
%html
  %head
    %title Оперативные данные
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body{ id: 'body' }
    %div{ id: 'wrapper' }
      .row
        .col-md-1
        .col-md-10
          = render 'layouts/navigation'
          = render 'layouts/messager'
          = render 'layouts/page_body'
        .col-md-1
  = javascript_include_tag 'application'
